#img2{
        width: 250px;
        height: 100px;
    }
    body { 
        background-image: url("images/photo6.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        font-family: 'Times New Roman', serif;
    }
    #rcorners1 {
        border-radius: 25px;
        background: white;
        height: 60%;
        width: 500px;
        margin: 0 auto;
        background-size: 10% 10%;
    }
    input[type=submit]{
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }
    #label1 {
        background-color: transparent;
        border-color: transparent;
        font-size: x-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 2ch;
        margin-right: 2ch;
        color: white;
        font-family: brush script mt, cursive;
    }
    input[type=submit]:hover{
        background-color: #5ccc44;
    }
    input[type=text], input[type=number] {
        border: 2px;
        border-radius: 4px;
        background-color: lightblue;
        size: 10;
        height: 30;
    }
    #button{
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        font-family: brush script mt, cursive;
    }
    #button:hover{
        background-color: #5ccc44;
    }
    #register{
        color: black;
        font-family: brush script mt, cursive;
    }
    th, td {
        padding: 11px;
    }